In [61]:
#libraries importing
import pandas as pd

In [62]:
#reading the NYT_API data
NYT_df=pd.read_csv("output/best_book_list_1.csv")
NYT_df.head()

,rank,primary_isbn10,primary_isbn13,publisher,title,author,category,pub_date
0,1,0593356152,9780593356159,Ballantine,THE MAID,Nita Prose,Hardcover Fiction,current
1,2,0525559477,9780525559474,Viking,THE MIDNIGHT LIBRARY,Matt Haig,Hardcover Fiction,current
2,3,0735222355,9780735222359,Viking,THE LINCOLN HIGHWAY,Amor Towles,Hardcover Fiction,current
3,4,0316499773,9780316499774,"Little, Brown",THE HORSEWOMAN,James Patterson and Mike Lupica,Hardcover Fiction,current
4,5,1501171348,9781501171345,Simon & Schuster,THE LAST THING HE TOLD ME,Laura Dave,Hardcover Fiction,current

In [63]:
#checking columns and null values
NYT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3640 entries, 0 to 3639
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            3640 non-null   int64
 1   primary_isbn10  3067 non-null   object
 2   primary_isbn13  3640 non-null   object
 3   publisher       3640 non-null   object
 4   title           3640 non-null   object
 5   author          3640 non-null   object
 6   category        3640 non-null   object
 7   pub_date        3640 non-null   object
dtypes: int64(1), object(7)
memory usage: 227.6+ KB

In [64]:
#dropping column with null values
NYT_df.drop('primary_isbn10',axis=1,inplace=True)

In [65]:
#checking duplicated rows
NYT_df.duplicated().sum()

0

In [66]:
NYT_df["category"].value_counts()

Combined Print Nonfiction    560
Combined Print Fiction       560
Hardcover Nonfiction         420
Audio Nonfiction             420
E-Book Fiction               420
Audio Fiction                420
Hardcover Fiction            420
E-Book Nonfiction            420
Name: category, dtype: int64

In [67]:
# checking the unique number of title column
print(f'The unique number of title column: {NYT_df["title"].nunique()}')
NYT_df["title"].value_counts().to_frame()

The unique number of title column: 1070

                           title
THE MIDNIGHT LIBRARY          40
UNTAMED                       38
THE LAST THING HE TOLD ME     34
GREENLIGHTS                   34
BORN A CRIME                  31
...                          ...
THE LINCOLN CONSPIRACY         1
KILLING CRAZY HORSE            1
THE PIGEON TUNNEL              1
THE PERFECT HORSE              1
THE SUGAR QUEEN                1

[1070 rows x 1 columns]

In [69]:
# changing the pub_date column to datetime format and sorting dataframe based on the pub_date
NYT_df.loc[NYT_df['pub_date']=='current','pub_date']="2022-02-02"
NYT_df['pub_date'] = pd.to_datetime(NYT_df['pub_date'])
NYT_df=NYT_df.sort_values(by='pub_date',ascending=False)

In [70]:
#drop duplicated rows with the same columns of 'primary_isbn13','publisher','title','author','category':
NYT_df.drop_duplicates(subset=['primary_isbn13','publisher','title','author','category'],inplace=True)

In [71]:
NYT_df.loc[NYT_df['title']=='THE STORYTELLER']

,rank,primary_isbn13,publisher,title,author,category,pub_date
442,8,9780063076099,Dey Street,THE STORYTELLER,Dave Grohl,Hardcover Nonfiction,2022-02-06
2104,5,9780063076129,HarperAudio,THE STORYTELLER,Dave Grohl,Audio Nonfiction,2022-02-02
645,1,9780063076099,â€ŽDey Street,THE STORYTELLER,Dave Grohl,Hardcover Nonfiction,2021-10-31
2616,17,9781439102763,Atria/Emily Bestler Books,THE STORYTELLER,Jodi Picoult,Combined Print Fiction,2013-04-14

In [72]:
NYT_df['category'].value_counts()

E-Book Fiction               241
Audio Fiction                187
Combined Print Fiction       170
E-Book Nonfiction            148
Audio Nonfiction             147
Combined Print Nonfiction    129
Hardcover Nonfiction         112
Hardcover Fiction            103
Name: category, dtype: int64

In [74]:
NYT_df.to_csv("output/clean_NYT.csv",index=False)