In [1]:
#libraries importing
import pandas as pd

In [2]:
#reading the NYT_API data
NYT_df=pd.read_csv("output/best_book_list.csv")
NYT_df.head()

,rank,primary_isbn10,primary_isbn13,publisher,title,author,category,pub_date
0,1,0525559477,9780525559474,Viking,THE MIDNIGHT LIBRARY,Matt Haig,Hardcover Fiction,current
1,2,0593356152,9780593356159,Ballantine,THE MAID,Nita Prose,Hardcover Fiction,current
2,3,0735222355,9780735222359,Viking,THE LINCOLN HIGHWAY,Amor Towles,Hardcover Fiction,current
3,4,0316499773,9780316499774,"Little, Brown",THE HORSEWOMAN,James Patterson and Mike Lupica,Hardcover Fiction,current
4,5,0593185412,9780593185414,Dutton,ONE STEP TOO FAR,Lisa Gardner,Hardcover Fiction,current

In [3]:
#checking columns and null values
NYT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1820 entries, 0 to 1819
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            1820 non-null   int64
 1   primary_isbn10  1523 non-null   object
 2   primary_isbn13  1820 non-null   object
 3   publisher       1820 non-null   object
 4   title           1820 non-null   object
 5   author          1820 non-null   object
 6   category        1820 non-null   object
 7   pub_date        1820 non-null   object
dtypes: int64(1), object(7)
memory usage: 113.9+ KB

In [4]:
#dropping column with null values
NYT_df.drop('primary_isbn10',axis=1,inplace=True)

In [5]:
#checking duplicated rows
NYT_df.duplicated().sum()

0

In [6]:
NYT_df["category"].value_counts()

Combined Print Nonfiction    280
Combined Print Fiction       280
E-Book Nonfiction            210
E-Book Fiction               210
Audio Fiction                210
Audio Nonfiction             210
Hardcover Fiction            210
Hardcover Nonfiction         210
Name: category, dtype: int64

In [7]:
# checking the unique number of title column
print(f'The unique number of title column: {NYT_df["title"].nunique()}')
NYT_df["title"].value_counts().to_frame()

The unique number of title column: 586

                                      title
THE MIDNIGHT LIBRARY                     26
THE STORYTELLER                          22
GREENLIGHTS                              20
BORN A CRIME                             19
THE LAST THING HE TOLD ME                19
...                                     ...
I'LL SEE YOU AGAIN                        1
THE ALCHEMIST                             1
BUFFERING                                 1
THE SENTINEL                              1
WHERE THE DEER AND THE ANTELOPE PLAY      1

[586 rows x 1 columns]

In [13]:
# changing the pub_date column to datetime format and sorting dataframe based on the pub_date
NYT_df.loc[NYT_df['pub_date']=='current','pub_date']="2022-02-02"
NYT_df['pub_date'] = pd.to_datetime(NYT_df['pub_date'])
NYT_df=NYT_df.sort_values(by='pub_date',ascending=False)

In [14]:
#drop duplicated rows with the same columns of 'primary_isbn13','publisher','title','author','category':
NYT_df.drop_duplicates(subset=['primary_isbn13','publisher','title','author','category'],inplace=True)

In [52]:
#NYT_df.loc[NYT_df['title']=='THE STORYTELLER']

In [17]:
NYT_df['category'].value_counts()

E-Book Fiction               116
Combined Print Fiction       111
Audio Fiction                101
Combined Print Nonfiction     87
Audio Nonfiction              84
E-Book Nonfiction             75
Hardcover Nonfiction          53
Hardcover Fiction             52
Name: category, dtype: int64

In [19]:
NYT_df.to_csv("output/clean_NYT.csv",index=False)